.row-home {
    position: relative;
    top: 100px;
    h2{
        padding: 10px;
        text-align: center;
    }
}
.row-card {
    position: relative;
    top: 140px;
    border-top: 1px solid #cdcdcd;
    padding: 30px 0px;
}